$font-stack: Inter, sans-serif;
$primary-color: #000000;
$text-color-primary: #1C1C1C;
$text-color-secondary: white;


@mixin dark-box {
    background-color: $primary-color;
    color: $text-color-secondary;
}