body {
    font-family: $font-stack;
}

li {
    list-style: none;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: $text-color-primary;
    margin-bottom: $desktop-default-spacing;

    @media only screen and (max-width: 900px) {
        font-size: 40px;
        margin-bottom: $mobile-default-spacing;
    }
}
 
h4 {
    margin:0;
}

ul {
    padding: 0;
}